/*
Theme Name: Twenty Fourteen
Theme URI: http://wordpress.org/themes/twentyfourteen
Author: the WordPress team
Author URI: http://wordpress.org/
Description:Simple theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: simple
Text Domain: twentyfourteen 

*/

body { padding-top: 45px; }

article img { max-width: 100%; }

img.avatar  {
	border-radius:100%;
	border:2px solid #fff;
	box-shadow:0 1px 1px rgba(0,0,0,.2)
}

img.avatar.avatar-128 {
	width:96px;
	height:96px;
	background:#fff;
}

img.avatar.avatar-96 {
	width:96px;
	height:96px;
	background:#fff;
	border-radius:100%;
	border:2px solid #fff;
	box-shadow:0 1px 1px rgba(0,0,0,.2)
}

.left{
	text-align:left;
}

div.navbar.navbar-default {
	background:#fff;
	margin:0;
	height:70px;
	padding-top:9px;
	position:relative;
	z-index:999;
		background:#fff !important;
		margin-bottom:0;
		text-transform:uppercase;
			border-top:2px solid #3baa34 !important;
		border-radius:0
}

.login-screen {
	background:#eee;
	padding:20px;
	margin-bottom:20px;
	border:1px solid #ccc;
}

div.login-signup {
	text-align: center;
	font-size:.9em;
	color:#777
}


@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

.login-screen button.btn.btn-default {
	background:#222;
	color:#fff;
	text-transform:uppercase;
	padding:10px 20px !important;
width:100%;
margin-bottom:20px;

}

.login-forgot {
	text-align:right;
}

.login-forgot .btn{
font-size:.8em !important;
	text-align:right;
	letter-spacing:1px
}

.login-screen label.control-label {
	text-transform:uppercase;
	letter-spacing:2px ;
	font-weight:300;
	font-size: .8em;
}

a {
	color: #24890d;
	text-decoration: none;
}

a:focus {
	outline: none;
	text-decoration: none;
}

a:hover,
a:active {
	outline: 0;
	text-decoration:none !important;
	-webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

#addListingModal .modal-body { padding: 0; }

div.modal-header h4 {
font-size:1.1em;

}

.modal-list-name {
	float:left;
		width:110px;
	margin:0px 0 0 10px 
	
}

fieldset.usp-title {
	margin-top:0 !important
}

h5 {
	font-size: 18px;
	line-height: 1.3333333333;
}

h6 {
	font-size: 16px;
	line-height: 1.5;
}

address {
		text-align:left;
		margin-bottom: 24px;
}

b, strong {	font-weight: 700;}

cite,
dfn,
em,
i {
	font-style: italic;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: monospace, serif;
	font-size: 15px;
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	line-height: 1.6;
}

pre {
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin-bottom: 24px;
	max-width: 100%;
	overflow: auto;
	padding: 12px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}


.about-story blockquote {
	color: #ccc;

}

blockquote {
	color: orange;
	border:none !important;
	font-style: italic;
	font-family:Georgia;
	padding:0 !important;
	font-weight: 300;
	line-height: 1.2631578947;
	margin-bottom: 24px;
}

.about-story  h6 {
	color:#999
}

blockquote cite,
blockquote small {
	color: #2b2b2b;
	font-weight: 400;
	line-height: 1.5;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

small {
	font-size: smaller;
}

big {
	font-size: 125%;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

dl {
	margin-bottom: 24px;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 24px;
}

ul,
ol {
	list-style: none;
	margin: 0 0 24px 20px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin: 0 0 0 20px;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0 0 24px;
	padding: 11px 12px 0;
}

legend {
text-transform:uppercase;
font-size:1em !important;
letter-spacing:2px;
	white-space: normal;
	margin-bottom:0 !important;
	border: none !important;
}

#your-profile div.wpua-edit-container h3 {
	text-transform:uppercase;
	font-size:1em !important;
	letter-spacing:2px;
		white-space: normal;
		margin-bottom:0 !important;
		border: none !important;
}

#wpua-remove-existing {
	padding:5px !important;
}

#wpua-preview-existing img {
	width:50% !important;
	height:auto !important
	
}

div.wpua-edit-container, table.wpuf-table {
	background:#eee;
	border:1px solid #ccc
}
div.wpua-edit-container {
	padding:30px;
}


button,
input,
select,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}

#user-submitted-post {
		padding:10px 60px !important;
		border-radius:4px;
	background: #3baa34;
}

#user-submitted-post:hover {

	background: #222;
}

button,
input {
	line-height: normal;
}

input,
textarea {
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

.modal-header button.close {
	color: #FFF;
	margin-top:0px;
	margin-bottom:-14px;
}


button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

del {
	color: #767676;
}

hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 23px;
}


::selection {
	background: #222;
	color: #fff;
	text-shadow: none;
}

::-moz-selection {
	background: #24890d;
	color: #fff;
	text-shadow: none;
}



input,
textarea {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	color: #2b2b2b;
	padding: 8px 10px 7px !; 
}

textarea {
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid rgba(0, 0, 0, 0.3);
	outline: 0;
}

/* Buttons */

button,
.contributor-posts-link,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #000;
	border: 0;
	border-radius: 2px !important;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	padding: 10px 30px 11px;
	vertical-align: bottom;
}


button:hover,
button:focus,
.contributor-posts-link:hover,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: #555;
	color: #fff;
}

button:active,
.contributor-posts-link:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background-color: #55d737;
}

.search-field {
	width: 100%;
}

.search-submit {
	display: none;
}

/* Placeholder text color -- selectors need to be separate to work. */

::-webkit-input-placeholder {
	color: #666;
}

:-moz-placeholder {
	color: #666;
}

::-moz-placeholder {
	color: #666;
	opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #666;
}

/* Responsive images. Fluid images for posts, comments, and widgets */

.comment-content img,
.entry-summary img,
#site-header img,
.widget img,
.wp-caption {
	max-width: 100%;
}

/**
 * Make sure images with WordPress-added height and width attributes are
 * scaled correctly.
 */

.comment-content img[height],
.entry-content img,
.entry-summary img,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
#site-header img {
	height: auto;
}


img.size-full,
img.size-large,
.post-thumbnail img {
	height: auto;
	max-width: 100%;
	
}

/* Make sure embeds and iframes fit their containers */

embed,
iframe,
object,
video {
	margin-bottom: 24px;
	max-width: 100%;
}

p > embed,
p > iframe,
p > object,
span > embed,
span > iframe,
span > object {
	margin-bottom: 0;
}

/* Alignment */

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: 7px 24px 7px 0;
}


.user-listings .post  {
	/*
	float:left;
	width:240px;
	margin:10px;
	*/
	background:#fff;
	color:#222;
	border:1px solid #ccc;
	margin-bottom: 10px;
}

.post-top  {
		display:block;
		background:transparent;
		background:rgba(255,255,255,.8) ; 
		padding:7px;
		
	}
	.post-top { white-space: nowrap; }
	.post-top > div { display: inline-block; vertical-align: middle; }
	.post-top .post-author { max-width: 75%; overflow: hidden; }

.your-list .post-top, .user-listings .post-top {
				margin-top:0;
		
	}
	
	blockquote.alignright,
img.alignright {
	margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
	margin: 7px 0 7px 14px;
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
	margin-top: 7px;
	margin-bottom: 7px;
}

.site-content blockquote.alignleft,
.site-content blockquote.alignright {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 17px;
	width: 50%;
}

.site-content blockquote.alignleft p,
.site-content blockquote.alignright p {
	margin-bottom: 17px;
}



.hide {
	display: none;
}

/* Clearing floats */

.footer-sidebar:before,
.footer-sidebar:after,
.hentry:before,
.hentry:after,
.slider-direction-nav:before,
.slider-direction-nav:after,
.contributor-info:before,
.contributor-info:after,
.search-box:before,
.search-box:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
	content: "";
	display: table;
}

.footer-sidebar:after,
.hentry:after,
.slider-direction-nav:after,
.contributor-info:after,
.search-box:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}

.main-content {
	width: 100%;
}


#site-header {
	position: relative;
	z-index: 3;
}

.site-header {
	background-color: #000;
	position: relative;
	width: 100%;
	z-index: 4;
}

.header-main {
	min-height: 48px;
	padding: 0 10px;
}

.site-title {
	float: left;
	font-size: 18px;
	font-weight: 700;
	line-height: 48px;
	margin: 0;
}

.site-title a,
.site-title a:hover {
	color: #fff;
}

.search-toggle:hover,
.search-toggle.active {
	background-color: #41a62a;
}


div.foot-close {
	background:rgba(0,0,0,.1);
	border:1px solid rgba(0,0,0,.1);
	margin-bottom:50px;
	padding:20px;
	
}

.search-box-wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	position: absolute;
	top: 48px;
	right: 0;
	width: 100%;
	z-index: 2;
}

.search-box {
	background-color: #41a62a;
	padding: 12px;
}

.search-box .search-field {
	background-color: #fff;
	border: 0;
	float: right;
	font-size: 16px;
	padding: 2px 2px 3px 6px;
	width: 100%;
}


.site-navigation ul {
	list-style: none;
	margin: 0;
}

.site-navigation li {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation ul ul {
	margin-left: 20px;
}

.site-navigation a {
	color: #222;
	text-transform:uppercase;
	letter-spacing:1px;
	display: block;
}

#colophon {
	padding:50px 50px 20px;
	color:#ccc;
	font-weight:300;
}

#colophon li{
list-style:none;
margin-bottom:20px;
}



footer#colophon.site-footer {
	letter-spacing:1px;
	border-top:1px solid #eee;
	text-align: center;
}



span.icon-bar {
	background:#297824 !important;
}


header#masthead.site-header {
		border-bottom:1px solid #ccc
	
}

.site-navigation a:hover {
	color: yellow !important;
	text-decoration:none;
	background:none !important
}

.site-navigation .current_page_item > a,
.site-navigation .current_page_ancestor > a,
.site-navigation .current-menu-item > a,
.site-navigation .current-menu-ancestor > a {
	color: #55d737;
	font-weight: 900;
}




.menu-toggle {
	cursor: pointer;
	font-size: 0;
	height: 48px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	width: 48px;
}

.menu-toggle:before {
	color: #fff;
	content: "\f419";
	margin-top: 16px;
}

div.foot-pitch {
	font-size:1.6em;
	padding:10px;
	text-align:left
}


section#user-section.content-area {
	padding:0 0 50px 0 
}


.page-content {
	margin-bottom: 48px;
}



.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;
	z-index: 0;
}

a.post-thumbnail:hover {
	background-color: #999;
}


.entry-title {
	margin: 0 0 12px 0;
}

.entry-title a {
	color: #2b2b2b;
}

.col-md-4 .ub-fav { float: right;margin-right:20px;
margin-bottom:15px}
.ub-fav.active { color: #fff !important; 
background:gold !important;
box-shadow:none !important;
border: 1px solid #ffd200 !important
}

.post-share .btn-attend.active {
	background:#ffd200;
	color:#fff;
	border: 1px solid #fad421;
	box-shadow:none
}


.entry-title a:hover {
	color: #41a62a;
}

.entry-meta a:hover {
	color: #41a62a;
}

.sticky .entry-date {
	display: none;
}

.cat-links {
	font-weight: 300;
	letter-spacing:1px
}



.cat-links a:hover {
	color: #41a62a;
}

.byline {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

span.comments-link {
	clear:both;
	display:block;
}




.top-menu  img.avatar   {
	width:14px;
	height:14px;
}

.top-menu {
	border-bottom:1px solid #eee;
	box-shadow:0 1px 1px #999 !important;
	position:fixed;
	padding:5px 10px;
	top: 0;
	right: 0;
	left: 0;
	z-index:10;
	background:#eee;
	background: #eeeeee; 
}

.tag-links a {
	display: inline-block;
	border-radius: 2px;
	color: #666;
	border: 1px solid #ccc;
	font-size:.7em;
	margin: 2px 4px 3px 0px;
	padding: 3px 7px;
}

.cat-side a {
		border-radius: 2px;
		color: #222;
		text-transform:none;
		background:#fff;
		border: 1px solid #ccc;
		font-size:1.1em;
		letter-spacing:1px;
		
		margin: 0px 4px 2px 0px;
		padding: 5px 7px;
		word-break: none;
		word-wrap:no-wrap;
}

body.archive.tag section#primary.content-area {
	width:80%;
	margin:auto;
	text-align:center;
}

body.archive.tag section#primary header.archive-header {
	margin-bottom: 20px;
}

body.archive.tag section#primary .hentry {
	width:80%;
	margin:auto;
	border:1px solid #ccc;
	margin-bottom: 30px;
	padding-bottom: 10px;;
}

.tag-links a:hover {
background: #41a62a;
color: #fff;
border: 1px solid #2f7a1e; 
}

.entry-meta .tag-links a:hover {
	background-color: #41a62a;
	color: #fff;
	border: 1px solid #2f7a1e;
}




.entry-content,
.entry-summary,
.page-content {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	word-wrap: break-word;
}



.page .entry-content {
	padding-top: 0;
}


.entry-content a:hover,
.entry-summary a:hover,
.page-content a:hover,
.comment-content a:hover {
	text-decoration: none;
}

.entry-content th,
.comment-content th {
	padding: 8px;
	text-transform: uppercase;
}

.entry-content .edit-link {
	clear: both;
	display: block;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3333333333;
	text-transform: uppercase;
}

.entry-content .edit-link a {
	color: #767676;
	text-decoration: none;
}

.entry-content .edit-link a:hover {
	color: #41a62a;
}
.gm-style td { vertical-align: middle; }
#activities-map .img-circle { padding-right: 10px; }

#post-26 div.entry-content blockquote p {
	font-size:2.3em;
}


/* Page links */

.page-links {
	clear: both;
	font-size: 12px;
	font-weight: 900;
	line-height: 2;
	margin: 24px 0;
	text-transform: uppercase;
}

.page-links a,
.page-links > span {
	background: #fff;
	border: 1px solid #fff;
	display: inline-block;
	height: 22px;
	margin: 0 1px 2px 0;
	text-align: center;
	width: 22px;
}

.page-links a {
	background: #000;
	border: 1px solid #000;
	color: #fff;
	text-decoration: none;
}

.page-links a:hover {
	background: #41a62a;
	border: 1px solid #41a62a;
	color: #fff;
}

.page-links > .page-links-title {
	height: auto;
	margin: 0;
	padding-right: 7px;
	width: auto;
}



/**
 * 6.6 Post Formats
 * -----------------------------------------------------------------------------
 */

.format-aside .entry-content,
.format-aside .entry-summary,
.format-quote .entry-content,
.format-quote .entry-summary,
.format-link .entry-content,
.format-link .entry-summary {
	padding-top: 0;
}

.site-content .format-link .entry-title,
.site-content .format-aside .entry-title,
.site-content .format-quote .entry-title {
	display: none;
}


/**
 * 6.7 Post/Image/Paging Navigation
 * -----------------------------------------------------------------------------
 */

.nav-links {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	hyphens:         auto;
	word-wrap: break-word;
}

.post-navigation,
.image-navigation {
	margin: 24px auto 48px;
	max-width: 474px;
	padding: 0 10px;
}

.post-navigation a,
.image-navigation .previous-image,
.image-navigation .next-image {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 11px 0 12px;
	width: 100%;
}

.post-navigation .meta-nav {
	color: #767676;
	display: block;
	font-size: 12px;
	font-weight: 900;
	line-height: 2;
	text-transform: uppercase;
}

.post-navigation a,
.image-navigation a {
	color: #2b2b2b;
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.7142857142;
	text-transform: none;
}

.post-navigation a:hover,
.image-navigation a:hover {
	color: #41a62a;
}

/* Paging Navigation */

.paging-navigation {
	margin: 48px 0;
}

.paging-navigation .loop-pagination {
	margin-top: -5px;
	text-align: center;
}

.paging-navigation .page-numbers {
	display: inline-block;
	font-size: 14px;
	font-weight: 900;
	margin-right: 1px;
	padding: 7px 16px;
	text-transform: uppercase;
}

.paging-navigation a {
	color: #2b2b2b;
}

.paging-navigation .page-numbers.current {
	border: 1px solid #24890d;
}

.paging-navigation a:hover {
	border-top: 5px solid #41a62a;
	color: #2b2b2b;
}









.taxonomy-description,
.author-description {
	color: #767676;
	font-size: 14px;
	line-height: 1.2857142857;
	padding-top: 18px;
}

.taxonomy-description p,
.author-description p {
	margin-bottom: 18px;
}

.taxonomy-description p:last-child,
.author-description p:last-child {
	margin-bottom: 0;
}

.taxonomy-description a,
.author-description a {
	text-decoration: underline;
}

.taxonomy-description a:hover,
.author-description a:hover {
	text-decoration: none;
}


/**
 * 6.10 Contributor Page
 * -----------------------------------------------------------------------------
 */

.contributor {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:      border-box;
	padding: 48px 10px;
}

.contributor:first-of-type {
	padding-top: 24px;
}

.contributor-info {
	margin: 0 auto;
	max-width: 474px;
}

.contributor-avatar {
	border: 1px solid rgba(0, 0, 0, 0.1);
	float: left;
	margin: 0 30px 20px 0;
	padding: 2px;
}

.contributor-name {
	font-size: 16px;
	font-weight: 900;
	line-height: 1.5;
	margin: 0;
}

.contributor-bio a {
	text-decoration: underline;
}

.contributor-bio a:hover {
	text-decoration: none;
}

.contributor-posts-link {
	display: inline-block;
	line-height: normal;
	padding: 10px 30px;
}

.contributor-posts-link:before {
	content: "\f443";
}

.error404 .page-content {
	padding-top: 0;
}

.error404 .page-content .search-form {
	margin-bottom: 24px;
}

.comment-reply-title,
.comments-title {
	font: 900 16px/1.5  sans-serif;
	margin: 0;
}

.comment-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-author {
	font-size: 14px;
	line-height: 1.7142857142;
}

.comment-list .reply,
.comment-metadata {
	font-size: 12px;
	line-height: 2;
}

.comment-list .reply {
	margin-top: 24px;
}

.comment-author .fn {
	font-weight: 900;
}

.comment-author a {
	color: #2b2b2b;
}

.comment-list .trackback a,
.comment-list .pingback a,
.comment-metadata a {
	color: #767676;
}

.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover {
	color: #41a62a;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	padding-top: 20px;
}

.comment-list > li:first-child > article,
.comment-list > .pingback:first-child,
.comment-list > .trackback:first-child {
	border-top: 0;
}

.comment-author {
	position: relative;
}

.comment-author .avatar {
	border: 1px solid rgba(0, 0, 0, 0.1);
	height: 18px;
	width: 18px;
}

.top-menu ul.dropdown-menu {
	margin-left:-100px;
	background: #eee;
	letter-spacing:1px
}
.bypostauthor > article .fn:before {
	content: "\f408";
	margin: 0 2px 0 -2px;
	position: relative;
	top: -1px;
}

.says {
	display: none;
}



.comment-edit-link {
	margin-left: 10px;
}

.comment-edit-link:before {
	content: "\f411";
}

.comment-reply-link:before,
.comment-reply-login:before {
	content: "\f412";
	margin-right: 2px;
}

.comment-content {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	word-wrap: break-word;
}

.comment-content ul,
.comment-content ol {
	margin: 0 0 24px 22px;
}

.comment-content li > ul,
.comment-content li > ol {
	margin-bottom: 0;
}

.comment-content > :last-child {
	margin-bottom: 0;
}

.comment-list .children {
	list-style: none;
	margin-left: 15px;
}

.comment-respond {
	margin-bottom: 24px;
	padding: 0;
}

.comment .comment-respond {
	margin-top: 24px;
}

.comment-respond h3 {
	margin-top: 0;
	margin-bottom: 24px;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code {
	color: #767676;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as {
	font-size: 14px;
	line-height: 1.7142857142;
}

.no-comments {
	font-size: 16px;
	font-weight: 900;
	line-height: 1.5;
	margin-top: 24px;
	text-transform: uppercase;
}

.comment-form label {
	display: block;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
	width: 100%;
}

.form-allowed-tags,
.form-allowed-tags code {
	font-size: 12px;
	line-height: 1.5;
}

.required {
	color: #c0392b;
}

.comment-reply-title small a {
	color: #2b2b2b;
	float: right;
	height: 24px;
	overflow: hidden;
}

.comment-reply-title small a:hover {
	color: #41a62a;
}

.comment-navigation {
	font-size: 12px;
	line-height: 2;
	margin-bottom: 48px;
	text-transform: uppercase;
}

.comment-navigation .nav-next,
.comment-navigation .nav-previous {
	display: inline-block;
}

.comment-navigation .nav-previous a {
	margin-right: 10px;
}

#comment-nav-above {
	margin-top: 36px;
	margin-bottom: 0;
}




.site-description {
	display: none;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
}



.content-sidebar .widget .wp-caption {
	color: #767676;
}

.content-sidebar .widget .widget-title {
	border-top: 5px solid #000;
	color: #2b2b2b;
	font-size: 14px;
	font-weight: 900;
	margin: 0 0 18px;
	padding-top: 7px;
	text-transform: uppercase;
}

.content-sidebar .widget .widget-title a {
	color: #2b2b2b;
}

.content-sidebar .widget .widget-title a:hover {
	color: #41a62a;
}






#supplementary {
	padding: 0 10px;
}





div.checkbox {
	line-height:1em;
}

.sign button.btn.btn-default.btn-block {
		background:#3baa34 !important;
	color:#fff;
	text-transform:uppercase;
	letter-spacing: 1px;
}

.footer-sidebar {
	padding-top: 48px;
}

.site-info a{
	color:#ccc;
}

.site-info {
margin-top:10px;
border-top: 1px solid rgba(255,255,255,.1);
	padding:25px 10px 15px !important;
	color:#ccc;
	text-align:center
}

#supplementary + .site-info {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.site-info a:hover {
	color: #41a62a;
}

div.post-share {
	padding: 0 0px 20px;
}

.wpuf-fields #date_start, .wpuf-fields #date_end { width: 80% !important; }

@media screen and (max-width: 400px) {
	.top-menu .btn-top-reg { display: none; }

	.list-view .site-content .post-thumbnail {
		background: none;
		width: auto;
		z-index: 2;
	}
	
	.list-view .site-content .post-thumbnail img {
		float: left;
		margin: 0 10px 3px 0;
		width: 84px;
	}


	.list-view .site-content .entry-header {
		background-color: transparent;
		padding: 0;
	}

.search-results header.entry-header {
	
	background:#fff !important;
	padding: 0;
	
}



.list-view .content-area {
		padding: 0 10px;
	}

	.list-view .site-content .hentry {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		margin: 0;
		min-height: 60px;
		padding: 12px 0 9px;
	}

	.list-view .site-content .cat-links,
	.list-view .site-content .entry-content,
	.list-view .site-content .entry-summary,
	.list-view .site-content footer.entry-meta {
		display: none;
	}

	.list-view .site-content .entry-title {
		clear: none;
		font-size: 15px;
		font-weight: 900;
		line-height: 1.2;
		margin-bottom: 6px;
		text-transform: none;
	}

	.list-view .site-content .format-aside .entry-title,
	.list-view .site-content .format-link .entry-title,
	.list-view .site-content .format-quote .entry-title {
		display: block;
	}

	.list-view .site-content .entry-meta {
		background-color: transparent;
		clear: none;
		margin: 0;
		text-transform: none;
	}

	.archive-header,
	.page-header {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		margin: 24px auto 0;
		padding-bottom: 24px;
	}

	.error404 .page-header {
		border-bottom: 0;
		margin: 0 auto 24px;
		padding: 0 10px;
	}
span.vanish {
	display:none
}



div.foot-btn,	div.foot-close {
text-align:center !important;
		margin-bottom:20px
	}
	
	
}

@media screen and (max-width: 800px) {
.leader-menu.center i {
		display:block
	
}

.top-menu ul.dropdown-menu {
	margin-left:-150px;

}

#ub-search button.btn.btn-default {
	font-size:1.1em;
	display: block;
	width:100%
}
#ub-search label:last-of-type {
	border-left: none !important
}


#panel-similar, #panel-desc, #recently-viewed  {
	margin-left:15px;
	margin-right:15px
}

#ub-search input {
min-width: 200px !important;
}

#orderby {
margin-left:15px;
margin-right:15px
}

.home-hype  h2 {
font-size:2em	 !important;
}

.user-listings .post  {
	float:none;
	width:100%;
	margin: 0 auto 10px;
	background:#fff;
	color:#222;
	border:1px solid #ccc;
}

.post-top  {

		margin-top:0px;
		
	}
	
div.foot-pitch {
	font-size:1.3em;
	padding:10px;
	text-align:center
}
span.vanish {
	display:none
}

 div.author {
	background-size:200%
}

}

@media screen and (min-width: 401px) {
	
div.foot-btn,	div.foot-close {
text-align:center !important;
				margin-bottom:20px
		
	}



.error404 .page-header {
		margin-bottom: 24px;
	}
	
}





@media screen and (min-width: 594px) {
	

	
}

@media screen and (min-width: 673px) {
	.header-main {
		padding: 0 30px;
	}

	.content-sidebar {
		border: 0;
		float: right;
		margin-left: -33.33333333%;
		padding: 48px 30px 24px;
		width: 33.33333333%;
	}

	.grid .featured-content .hentry {
		float: left;
		width: 50%;
	}

	.grid .featured-content .hentry:nth-child( 2n+1 ) {
		clear: both;
	}

	.grid .featured-content .entry-header {
		border-color: #000;
		border-style: solid;
		border-width: 12px 10px;
		height: 96px;
		padding: 0;
	}

	.slider .featured-content .entry-title {
		font-size: 22px;
		line-height: 1.0909090909;
	}

	.slider .featured-content .entry-header {
		min-height: inherit;
		padding: 24px 30px 48px;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 50%;
		z-index: 3;
	}

	.slider-control-paging {
		background: transparent;
		margin-top: -48px;
		padding-left: 20px;
		width: 50%;
	}

	.slider-direction-nav {
		clear: none;
		float: right;
		margin-top: -48px;
		width: 98px;
	}

	.slider-direction-nav li {
		border: 0;
		padding: 0 1px 0 0;
	}

	.slider-direction-nav li:last-child {
		padding: 0 0 0 1px;
	}

	.slider-direction-nav a {
		height: 48px;
	}

	.slider-direction-nav a:before {
		line-height: 48px;
	}

	.site-info {
		padding: 15px 30px;
	}

}

@media screen and (min-width: 783px) {
	.header-main {
		padding-right: 0;
	}

	.search-toggle {
		margin-right: 0;
	}

	/* Fixed Header */

	.masthead-fixed .site-header {
		position: fixed;
		top: 0;
	}

	.admin-bar.masthead-fixed .site-header {
		top: 32px;
	}

	

}

@media screen and (min-width: 810px) {
	.attachment .entry-attachment .attachment {
		margin-right: -168px;
		margin-left: -168px;
		max-width: 810px;
	}

	.attachment .site-content .attachment img {
		display: block;
		margin: 0 auto;
	}

	.contributor-avatar {
		margin-left: -168px;
	}

	.contributor-summary {
		float: left;
	}

	.full-width .site-content blockquote.alignleft,
	.full-width .site-content blockquote.alignright {
		width: -webkit-calc(50% + 130px);
		width:         calc(50% + 130px);
	}

	.full-width .site-content blockquote.alignleft,
	.full-width .site-content img.size-full.alignleft,
	.full-width .site-content img.size-large.alignleft,
	.full-width .site-content img.size-medium.alignleft,
	.full-width .site-content .wp-caption.alignleft {
		margin-left: -168px;
	}

	.full-width .site-content .alignleft {
		clear: left;
	}

	.full-width .site-content blockquote.alignright,
	.full-width .site-content img.size-full.alignright,
	.full-width .site-content img.size-large.alignright,
	.full-width .site-content img.size-medium.alignright,
	.full-width .site-content .wp-caption.alignright {
		margin-right: -168px;
	}

	.full-width .site-content .alignright {
		clear: right;
	}
}

@media screen and (min-width: 846px) {

	.comment-list .children {
		margin-left: 20px;
	}

	

	.featured-content {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1008px) {
	.search-box-wrapper {
		padding-left: 182px;
	}

	.main-content {
		float: left;
	}

	.content-sidebar {
		margin-left: -29.04761904%;
		width: 29.04761904%;
	}

	#secondary {
		background-color: transparent;
		border: 0;
		clear: none;
		float: left;
		margin: 0 0 0 -100%;
		min-height: 100vh;
		width: 122px;
	}

	.primary-sidebar {
		padding-top: 0;
	}

	.site-description {
		display: block;
		margin: -3px 0 21px;
	}




	#supplementary {
		padding: 0;
	}

	.footer-sidebar {
		font-size: 12px;
		line-height: 1.5;
	}

	.featured-content {
		padding-left: 182px;
	}


}

@media screen and (min-width: 1040px) {
	

	

	
}

@media screen and (min-width: 1080px) {
	.search-box .search-field {
		width: 324px;
	}

	

	.site:before {
		width: 222px;
	}

	.search-box-wrapper,
	.featured-content {
		padding-left: 222px;
	}

	#secondary {
		width: 162px;
	}

	.secondary-navigation,
	.secondary-navigation ul ul {
		width: 222px;
	}

	.secondary-navigation ul li:hover > ul,
	.secondary-navigation ul li.focus > ul {
		left: 202px;
	}


.slider .featured-content .entry-title {
		font-size: 33px;
	}

	.slider .featured-content .entry-header,
	.slider-control-paging {
		width: 534px;
	}

	.slider-control-paging {
		padding-left: 24px;
	}

	.slider-control-paging li {
		margin: 12px 12px 12px 0;
	}

	.slider-control-paging a {
		height: 24px;
		width: 24px;
	}

	.slider-control-paging a:before {
		top: 6px;
		left: 6px;
	}
}


@media screen and (min-width: 1260px) {
	.site-content blockquote.alignleft,
	.site-content blockquote.alignright {
		width: -webkit-calc(50% + 18px);
		width:         calc(50% + 18px);
	}

	.site-content blockquote.alignleft {
		margin-left: -18%;
	}

	.site-content blockquote.alignright {
		margin-right: -18%;
	}
}





#submit {
	border-radius:3px;
}

img.logo {
	margin-right:15px;
	height: 33px;
	border-radius:5px;
}

.nav.navbar-nav li a i  {
	color:#888
}

div.header-main {
color:#222;
	background:#fff
}


.home-hero .txt {
	position: absolute;
	top: 48%;
	left: 0;
	width: 100%;
	text-align:center;
	color:#fff;
	letter-spacing:1px;
	text-transform:uppercase;
}
.home-hero .txt .btn {
	background:none;
	color:#fff;
	border-radius:0;
	padding:12px;
	
}
.home-hero .txt .btn:hover {
	background:rgba(0,0,0,.8);
	border:1px solid #111;
	color:#fff;
}


header#top.navbar.navbar-static-top a {
color:#222;
letter-spacing:1px
	
}header#top.navbar   {
height:70px;
padding-top:9px;
position:relative;
z-index:999;
	background:#fff !important;
	margin-bottom:0;
	text-transform:uppercase;
		border-top:2px solid #3baa34 !important;
}

img.logo-in {
	width: auto;
	margin-right:15px;
	height: 33px;
}

#colophon li a:hover{
	color:yellow;
}


@media screen and (max-width: 970px) {


#colophon li a:hover{
background:#222;
	color:#fff;
	border:1px solid #000 !important
}

#colophon div.row div.col-md-3 ul li a {
	display:block;
	text-align:center;
	border:1px solid #ccc;
	padding:10px;
	border-radius:4px;
	margin-bottom:10px;
}

#colophon div.row div.col-md-3 ul {
	padding:0;
	margin:0
}
	
}

div.steps {
	padding:20px;
	margin-top:20px;
	margin-bottom:20px;
	background:#222;
	border:1px solid #111
}



.steps i{
	font-size:4em;
	color:#222;
}

div.step-one {
	background:#eee;
	text-align:center;
	padding:20px;
	color:#222;
	margin-bottom: 5px;
	border-radius:5px
}

.step-two {
	background:#eee;
		text-align:center;
	
	padding:20px;
		color:#22;
		margin-bottom: 5px;
	
	border-radius:5px
}

.step-three {
	background:#eee;
	padding:20px;
		color:#222;
		margin-bottom: 5px;
		text-align:center;
	
	border-radius:5px
}

a.btn  {
	text-decoration:none;
	border-radius:2px
}



#post-17 div.entry-content div.row div.col-md-6 a.btn.btn-default.btn-block {
	margin-bottom:10px;
}

#top div.navbar-header button.navbar-toggle  {
	border-radius:0;
}



.the-price
{
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

.the-price h1
{
    line-height: 1em;
    padding: 0;
    margin: 0;
}

.subscript
{
    font-size: 25px;
}



img.dl-img {
	height:220px;margin-bottom:30px;
	width:auto !important;
}

div.sign {
border-radius:4px;
border:1px solid #ccc;
background:#f1f1f1;
padding:20px
}

.step-one a {
	font-weight:bold
}

div.home-hype {
	padding-bottom:80px;
	
}

.home-hype a.btn.btn-default.btn-lg {
border-radius:4px;
letter-spacing:1px;	text-transform:uppercase;
		font-size:1em !important;
}

div.home-pitch {
	padding-top:40px;
	background: #e73e0f;
	color:#fff;
	padding-bottom:80px;
	border-top:3px solid #222;
	border-bottom:3px solid #222;
text-align:center
}

#main div.home-pitch div.center a.btn.btn-default.btn-lg {
	background:yellow;
	color:#222;border:1px solid yellow;
}

.home-pitch  h3 {
	text-transform:uppercase;
	font-size:1.4em
}

.home-pitch a.btn.btn-default.btn-lg {
	background:none;
	color:#fff;
	border-radius:4px;
	letter-spacing:1px;
		font-size:1em !important;
	text-transform:uppercase;
		margin-top:40px
	
}
.home-pitch a.btn.btn-default.btn-lg:hover {
	background:#222
}

.home-news  a.btn.btn-default.btn-lg {
border-radius:4px;
letter-spacing:1px;
margin-bottom:20px;
font-size:1em;
width:70% !important;
	text-transform:uppercase;
}



div.home-news {
padding-top:40px;
padding-bottom:40px;}

div.home-news h2{
	border-radius:0;
	margin:0;
	letter-spacing:4px;
	font-size:1.5em;
	color:#ccc;
	text-transform:uppercase;
}

img.flame {
	height:14px;
	width:auto;
	margin-top:-4px;

}



#disqus_thread {
	width:70%;
	margin:auto
}

.vendor-map iframe {
	width:100%;
	min-height:400px;
}


.section-features img  {
	margin-bottom:20px;
}

a.btn-join {
	background:orange;
	padding:20px 10px;
color:#fff;
border:none;
text-transform:uppercase;
letter-spacing:1px;
text-shadow: 0 1px 1px rgba(0, 0, 0, .2)
}

a.btn-join:hover {
	background:#222;
color:#fff;

}

.price-box.basic {
	background:#fff;
		box-shadow: 0 4px 15px rgba(0, 0, 0, .5);
	margin-bottom:20px;
	
}

.price-box.basic h3 {
	background:lightskyblue;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:2px;
padding:10px;
font-weight:bold;
font-size:1.3em;
text-align:center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2)
}

div.price {
	background:lightskyblue;
	color:#fff;
		border-bottom:1px solid #c7ecec;
	
	text-transform:uppercase;
	letter-spacing:1px;
padding:10px;
text-align:center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2)
}

.price-box.basic p {
	padding:10px 30px;
	font-size:.85em;
	line-height:1.9em
}

.btn-see-all {
	margin-bottom:70px !important;
}

div.hero-inner {
	padding:60px 0 80px;
	margin-bottom:50px;
	background-size:cover
}

.price-box-top {
	color:#fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0,.8);
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	opacity:.8;
	margin-bottom:4px;
	letter-spacing: 1px;
	font-size:.85em
}
.price-box-top i.fa.fa-star {
	color:yellow
}



.interviewee a {
	display:block;
	text-align:center;
	text-decoration:none;
text-align:center;
text-transform:uppercase;
color:#222;

font-weight:bold;

}

.interviewee a img.img-interview {
	background:#eee;
		padding:7px;
	
	border:1px solid #ccc;
}

span.interview-title {
	color: #888;
	font-weight:normal;
	font-size:.8em
}





footer ul {
	margin:0
}

div.foot-btn {
padding-top:15px;
	text-align:right
}

.foot-btn a.btn-btn-default {
	background:orange;
	padding:15px;
	color:#fff;
	border-radius:4px 
}

.foot-btn a.btn-btn-default:hover {
	background:#222;
color:#fff
}

/* logged in dump */

div.container.body-content  button.btn.btn-success.pull-right {
	padding:10px !important;
		text-align:center;
		text-decoration:none;
	text-transform:uppercase;
	
}

div.container.body-content  button.btn.btn-success.show-or-hide {
		padding:10px !important;
	text-transform:uppercase;
	
}

div.container.body-content button.btn.btn-lg.btn-warning {
		padding:6px 10px !important;
	text-transform:uppercase;	
}

button.btn.btn-primary.navbar-btn {
	padding:6px 10px !important;
text-transform:uppercase;	
}

div.container.body-content  button.btn.btn-primary.btn-list {
	padding:6px 10px !important;
text-transform:uppercase;		
}

div.container.body-content  button.btn.btn-success {
		padding:6px 10px !important;
	text-transform:uppercase;	
}

#data-delete-entry div.form-group button.btn.btn-danger {
		padding:6px 10px !important;
	text-transform:uppercase;	
}

form.er-contact-form {
	background:#eee;
	color:#222;
	padding:30px;
	margin-bottom:0;
	text-transform:uppercase;
		border:10px solid #3baa34 !important;
}



form.er-contact-form button {
	padding:15px 10px !important;
	text-transform:uppercase;
	width:100%;
	letter-spacing:2px;
	font-size:1.1em;
}

.notification {
	background: rgba(254, 5,5,.9);
		border:1px solid  rgba(254, 5,5,1);
	text-shadow:0 1px 1px rgba(0,0,0,.2);
	color:#fff;
	font-weight:bold;
	margin-left:-15px;
	padding:3px 5px;
	font-size:.8em;
	border-radius: 4px;
	margin-right:20px
}

img.img-circle.img-avatar {
	width:42px !important;
	height:42px;
	margin:5px;
	border:3px solid #fff
}

.rec {
	margin-bottom:-57px;
	position:relative;
	background:rgba(0,0,0,.6)
}

#main div.row div.col-md-8.col-md-offset-2 div.row div.col-md-4 h5 {
	margin:10px 20px 3px;
	border-top:1px solid #eee;
	padding-top:10px;
	color:#111;
	border-top:1px solid #ccc;
	box-shadow:0 -1px 1px rgba(255,255,255,1);
}

div.location {
	margin:0 20px
}

.list-in {
	background:#eee;
	border:1px solid #ccc;
	margin:10px 0px 40px
}


.rec a{
color:#eee;
letter-spacing:1px;
font-weight:bold;
}
.rec a:hover{
color:lime;
letter-spacing:1px;
font-weight:bold;
}

 a h5 {
	color:#222
}

span.lg {
	display:block;
	font-size:1.7em;
		letter-spacing:0px;
	
}

img.img-circle.img-avatar-lg {
	width:128px !important;
	height: 128px;
	border: 5px solid #fff;
}

img.img-circle.img-avatar-sm {
	width:36px;
	height:36px
}

.user-header {
	color: #fff;
	background:#222;
	text-align:center;
	min-height:500px;
	padding:60px 10px 30px; 
	background-position: top center;
	background-size:cover ;
	margin-bottom: 30px;
}



div.user-listings {
	padding-top:50px;
}

.user-header a {
		color: #eee;
	
}

.user-header a:hover {
		color: #fff;
	
}

.author-buttons .btn {
	background:none;
	color: #fff;
	border:none
	
}

.author-buttons .btn:hover{
	background:none;
	color:#fff
}

.modal-cal {
	color:#222 ;
	padding-top:20px !important;
}

.modal-cal a.btn.btn-default {
	color:#222
}

.updates, .follows, .following{
	text-transform:uppercase;
	letter-spacing:1px;
	padding:10px 3px;
	margin-bottom:5px;
	font-size:.7em;
	border:1px solid rgba(0,0,0,.2);
	background:rgba(0,0,0,.4);
}


img.ajax-loader { width: inherit !important; }




div.profile-avatar {
	text-align:center;
	margin-top:40px;
}

.profile-avatar img{
border: 3px solid #fff;
box-shadow:0 1px 5px rgba(0,0,0,.4);
	text-align:center;
	background:#fff;
	border-radius:100%;
	width:120px !important;
	height:120px
}

.author {
	margin-bottom:20px;
	background-size:100%;
}

#post-1481 div.entry-content div.author.author-preview ul.socialIcons li a.btn.btn-default {
	background:none;
color:#fff;
}

.author h2.authorName, .author p.authorDescrption {
	text-shadow:0 1px 1px rgba(0,0,0,.5)
}

.authorName { float: left; }
.author-preview .wpsa-button-wrap { float: right; margin: 20px 0 10px; }


.authorDescrption { color: #FFF; }

span.author.vcard {
	border: none;
	background:none;
	padding:0;
	margin:0
}

.avatar-128.wp-user-avatar.wp-user-avatar-128  {
	width:128px !important;
	height:128px;
	border-radius:100%;
	border: 3px solid #fff;
	box-shadow:0 1px 5px rgba(0,0,0,.4);
	background:#fff
}

#main div.row div.col-md-8.col-md-offset-2 section.content div.author div.authorInfo a h2.authorName {
	color:#fff
}

.user-listings  h1.entry-title {
font-size:1em !important;	
}




.your-list  h3.entry-title, .user-listings  h3.entry-title {
	font-size:1em;
	margin-top:10px;
}

.user-listings  a.post-thumbnail,  .your-list a.post-thumbnail {
	overflow:hidden;
	height:130px
}

.user-listings .paging-navigation {
	clear:both;
}

.author-description {
	color: #fff;
}

.navbar-nav.navbar-right div.dropdown a.btn.btn-default.collapsed img.avatar.avatar-46 {
	width:26px;
	height:26px;
	border-radius:100%;
	border:2px solid #ccc;
}

ul.nav.navbar-nav.navbar-right div.dropdown {
	margin-top:-5px;
}

.leader-menu  {
	padding:0;
	margin-bottom:10px 
}

ul.nav.navbar-nav li button.btn.btn-default, ul.nav.navbar-nav li button.btn.btn-warning {
margin-left:10px;
	padding:15px !important; 
}

#bs-navbar ul.nav.navbar-nav li a.btn.btn-default {
	margin-left:10px;
}

div.in-logo {
	margin-bottom:10px
}

#content div.user-header header.archive-header div.row div.col-md-10.col-md-offset-1.center a.btn.btn-default {
	background:none;
	font-size:1.2em;
	letter-spacing:1px;
	text-transform:uppercase;
	margin: 20px 0;
}

.add-menu {
color:#222;
	background: #eee;
	padding:10px 0 30px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-top:0px;
	margin-bottom:20px;
}

div.add-menu  button.btn.btn-default {
		padding:10px !important
	
}
.your-list .post, .your-list .status {
background:#fff !important;
box-shadow:0 1px 1px rgba(0,0,0,.1);
margin-bottom:20px !important
}

div.add-menu input {
	padding:10px !important
}

input.wpuf-submit {
	padding:15px 20px !important;
}

#wpua-upload-existing {margin-top:5px;
		padding:5px 20px !important;
	
}

#wpua-undo-existing {
			padding:5px 20px !important;
	
}


#your-profile fieldset table.wpuf-table tbody tr th label {
	letter-spacing:1px;
	color:#444
}


#your-profile input  {
	padding:10px !important
}


#main a.btn.btn-default.btn-block {
	margin:30px auto 20px;
	width:80%
}

div.list-hot {
	background: rgba(255, 0, 0, 0.4);
	opacity: .9;
	color:#fff ;
	font-weight:bold;
	letter-spacing:2px;
	text-align:center;
	margin-top:-41px;
	text-transform:uppercase;
	padding: 5px;
	border-top:1px solid rgba(255, 0, 0, 0.2);
		margin-bottom:16px
}

.rec span.pull-right.list-time {
	padding:18px;
	font-size:.85em;
	color:#fff;
	margin-bottom:-53px;
}

.rec-profile {
	color:#777;
	border-top:1px solid #fff;
	margin:10px 15px 0;
		font-size:.85em
	
}

.rec-profile a {
	display: block;
	color:#888;
	border-top:1px solid #ccc;
	box-shadow:0 -1px 1px rgba(255,255,255,1);
	padding-top:10px;
	margin-bottom:10px;
	text-shadow:0 1px 1px rgba(255,255,255,1)
}

div.list-details {
	height:70px;
	overflow-y:scroll;
}

#main div.row div.col-md-8.col-md-offset-2 div.row div.col-md-4 div.location a {
	color:#777;
	font-size:.85em
}
.list-controls  a.btn.btn-default  {
 color:#666;
 	box-shadow:0 1px 0px rgba(255,255,255,1)
; border-radius:100%;
height:40px;
line-height:26px;
}




div.list-controls {
	margin: 5px 20px 0;
}

#main div.row div.col-md-8.col-md-offset-2 div.row div.col-md-4 div.list-in div.rec-profile a span {
	font-weight:bold
}

div.list-hot.green {
	background: rgba(61, 210, 38, .7) 
}

.list-controls a.btn.btn-default.selected {
	color:#fff !important
}

.btn-check:hover, .btn-heart:hover {
	background: red !important;
	border:1px solid red !important;
}


.btn-heart.selected {
	background: #c3468d;
	border:1px solid #c3468d;
}
.btn-check.selected {
	background: #35b235;
		border:1px solid #35b235;
	
}

 div.leader-menu.center a.btn.btn-default i.fa.fa-heart-o {
	padding:5px;
height:35px;
width:36px;
margin:auto;
line-height:24px;
color:#c3468d;
	border-radius:100%;
background: #fff;
border:1px solid #c3468d;
}



.leader-menu.center a.btn.btn-default i.fa.fa-bullhorn {
	padding:5px;
height:35px;
width:36px;
margin:auto;
line-height:23px;
color:#222;
	border-radius:100%;
background: #fff;
	border:1px solid #222;
}






ul.dropdown-menu {
	position:absolute;
	right:0px;
	padding:0
}

.top-menu ul.dropdown-menu li a{
padding:5px 10px
}
.top-menu ul.dropdown-menu li a:hover{
	background:#3baa34
}



.right {
	text-align:right
}

.clear{
	clear:both;
}
.sul img {
	border-radius:100%
}

.error404 header.page-header.center {
	text-align:center !important;
	margin:auto
}

.error404 input.search-field {
	padding:10px !important
}

button.wpsa-subscribe-btn {
	padding:8px 10px !important;
	background:orange;
	border:1px solid orange;
	color:#fff;
	letter-spacing:1px;
}

#wpsa-subcriber-mail {
	padding:9px !important
}

button.wpsa-subscribe-btn:hover {
	padding:8px 10px !important;
	background:rgba(0,0,0,.7);
	border:1px solid rgba(0,0,0,.7);
}

.wpsa-button-wrap {
margin-bottom:10px;
font-size:.9em !important;
text-align:center
}

.author-description {
	text-align:center;
	margin-bottom:10px;
	padding:5px;}
	
.wpsa-message {
		position:absolute;
		text-align:center;
		width:100%;
		top: 0;
		margin-top:19px;
		letter-spacing:1px;
		padding:15px;
		left:0;
		font-weight: bold;
		background:rgba(0,0,0,.7);
		border-bottom:1px solid rgba(0,0,0,.7);
		display: none;
		z-index: 15;
	}

.archive-header .wpsa-button-wrap, .archive-header .wpsa-footer { display: inline; }
.author-buttons { margin: 10px 0; 
max-width:400px;
margin:10px auto ;
border:1px solid rgba(0,0,0,.2);
background:rgba(0,0,0,.4);
}

.your-list  {
clear:both;
}

	
	.col-md-4 .hentry {
	
				padding:0 !important;
		background:#fff;
		border:1px solid #eee;
		margin:15px 5px;
	}
	
	header.page-header {
		margin-left:5px;
		margin-right:5px;
	}
	
	.col-md-4 header.entry-header a.btn.btn-default, div.user-listings header.entry-header a.btn.btn-default {
	 color:#666;
	 	box-shadow:0 1px 0px rgba(255,255,255,1)
	; border-radius:100%;
	height:40px;
	line-height:26px;	
	background:#eee;
	}
	

	

	
	.col-md-4 	h3.entry-title {
		font-size:.9em
	}
	
	div.top-search-box {
		float:right;
		width:50%;
	}
	
		.top-menu div.dropdown {
	float:right;
	margin-left:5px;
	}
	
	#searchsubmit {
	margin-top:-2px;
 	box-shadow:0 1px 0 rgba(255,255,255,.3) !important;
-webkit-box-shadow:0 1px 0 rgba(255,255,255,.3) !important;
			background:#eee;
	border-radius:3px;
		padding:7px 15px !important;
background: #eeeeee;

	}
	
	input#s {
		padding:6px 8px 7px!important;
		color:#333;
		width:70%;
		font-size: 1.1em;
		background:#fff;
		border:1px solid #ccc;
				border-radius:3px !important;
		 	box-shadow:0 1px 0 rgba(255,255,255,.3) !important;
		
	}
	
	input#s:focus {
		color:#333;
		width:70%;
		background:#fff;
		border:1px solid #ccc
	}input#s:hover {
		color:#333;
		background:#fff;
		border:1px solid #ccc
	}
	


	
	span.byline {
		display:block !important
	}
	
	.search		header.entry-header {
		text-align:left;
		padding:0
	}
	
	.search	.post {
		text-align:left;
	}
	
.post-time {
color:#ccc;
letter-spacing:0;
font-size:.8em;
padding:10px 0px;
font-weight:bold;
letter-spacing:1px;
		text-align:right;
		float: right !important;
	}
	

	
	header.entry-header {
	text-align: center;
}



.post-top .post-author {
	padding-left:5px;
	letter-spacing:1px		
}
	

.post-author a:hover { color:lime; }
	

	
.your-list 	header.entry-header, div.user-listings  header.entry-header {
		padding:10px 20px;
		background:#fff;
		font-weight: bold;
		border-bottom:1px solid #eee
	}
.entry-header .title { text-align:left;height: 2.3em; display: block; overflow: hidden}
.col-md-4 .entry-header { font-size: 1em; }

.search-results .hentry {
	background:#fff;
}

.search-results div.post-top {
	margin:0
}

.search-results a.title {
	padding:2px 10px;
	display:block;
	height:50px;
	font-size:.9em;
	line-height:1.2em;
	overflow:hidden;
}

.wpsa-authorInfo img{
		border-radius:100%;
		width:125px;
		height:125px;
		margin:auto !important
		
	}

 input.usp-input {
			padding:5px !important;
			color:#222 !important;
			border:1px solid #ccc;
width:100%;
box-shadow:0 1px 1px rgba(255,255,255,.6)
	}

div#user-submitted-posts select { padding: 5px; }
	
	textarea.usp-textarea {
			padding:10px !important;
					color:#222 !important;
					border:1px solid #ccc;
		width:100%;
	}
	
	#usp_form fieldset.usp-title input.usp-input {
		font-size:1.5em !important;
			padding:10px !important;
			color:#222 !important;
			border:1px solid #ccc;
width:100%;
	}
	
	#usp_form {
		background:#eee;
		padding:30px;
		color:#222
	}
	
	#user-submitted-posts {
		padding-top:1px;
	}
	
	div.modal-header {
	background:#eee !important;
		color:#222;
		padding:10px 20px; 
	}
	
button.close span {
		color:#222
	}
	
	#usp-submit {
		margin:0 !important
	}
	
	#usp_form fieldset.usp-tags input.usp-input {
		width:190px;
	}
	
	#usp_form fieldset  {
		color:#555
	}
	
	img.modal-logo {
		width:20px;
		height:20px;
		float:left
	}
	
	
	.post-avatar img {
		width:36px;
		height:36px;
		background:#fff;
		border-radius:50%;
		border:2px solid #eee;
	}
	
.top-menu button.btn.btn-warning {
	background:#eee;
	color: #222;
	letter-spacing:1px;
			border-radius:3px !important;
	text-transform:uppercase;
	font-weight:300!important;
	border: 1px solid #ccc;
			 	box-shadow:0 1px 0 rgba(255,255,255,.3) !important;
			-webkit-box-shadow:0 1px 0 rgba(255,255,255,.3) !important;

}

div.top-menu div.pull-left button.btn.btn-warning{
display:none	;

}





.top-menu button.btn.btn-warning:hover {
	background:#fff;
	color: #111;
	border: 1px solid #ccc;	
}


.top-menu .btn  {
	letter-spacing:1px;
		border: 1px solid #ccc;
	color: #222;
		border-radius:3px !important;
	font-size: .9em;
		font-weight:300 !important;
	background:#eee;
 	box-shadow:0 1px 0 rgba(255,255,255,.3) !important;
-webkit-box-shadow:0 1px 0 rgba(255,255,255,.3) !important;
	
	text-transform:uppercase;
}


.panel-body .tag-links {
	padding:0px !important;
}
.top-menu  i.fa.fa-star-o {
	color:#a02e2e
}

.top-menu a.btn.btn-default:hover {
		border: 1px solid #ccc;
	background:#fff !important;
			 	box-shadow:0 1px 0 rgba(255,255,255,1);
}


.top-menu .dropdown a { text-transform:none; }
.top-menu .dropdown a.btn.btn-default:hover {
	box-shadow:0 1px 0 rgba(255,255,255,1);
	border:1px solid #ccc;
	color:#111;
	background: #fff !important;
}

@media screen and (max-width:990px) {
	
	.your-list .post {
		float:none;
		clear:both;
		max-width:1200px;
				padding:0 !important;
		
		border:1px solid #ccc;
		margin:0px 0 20px 0 ;
	}
	
	div.vanish {
		display:none
	}
	
	img.logo {
		margin-right:5px;
		width:75px;
		height:auto;
	}
	
	.top-menu .btn.btn-default  {
			padding:7px 14px !important;
		letter-spacing:0px;
		font-size: 1em;

	}
	

	img.flame {
		height:20px;
		width:auto;
		margin-top:-4px;
	}
	
	.hot-txt {
	margin-top:-1px;
	margin-bottom:2px;
		line-height:1
	}
	
	
	
	}
	
.single-post a div.post-thumbnail  {
							max-width:1100px;
				margin:auto !important
		
	}
	
	#your-profile fieldset table.wpuf-table tbody tr th {
		text-align:right;
		border:none;
	}
	
	#your-profile fieldset table.wpuf-table tbody tr td {
		border:none
	}
	
	.regular-text {
		border:2px solid #ccc;
				 	box-shadow:0 1px 0 rgba(255,255,255,1);
		
	}
	
	#your-profile  td {
		padding:20px 0;
	}
	
	.tptn_posts .tptn_after_thumb a.tptn_link span.tptn_title {
		display:block;
		height:40px;
		color:#fff
	}
	
	#tptn_counter_1554 {
	}
	
.tptn_counter {
				text-align:center;
				padding:15px;
				font-size:.85em;
				color:#fff;
				background:rgba(0,0,0,.8);
		
	}
	
	.tptn_after_thumb {
		background:#222;
		display:block;
		color:#eee;
		padding:10px 20px;
		border-bottom:1px solid #111;
		border-right:1px solid #111;
		border-left:1px solid #111;
		margin-bottom:20px;
		height:100px;
	}
	
.authorInfo ul li a.btn.btn-default {
	border-radius:100%;
	}
	
	.authorInfo ul li {
			list-style:none
		}
		
	.tptn_author a {
			color: #eee;
		}
		
.tptn_posts.tptn_posts_shortcode a.tptn_link {
			display: block;;
			height:200px;
			overflow:hidden;
		}
		
			.tptn_after_thumb a.tptn_link {
			height:40px !important;
			
		}
		
 
			
				
		ul.ac_results li {
			padding:10px 15px
		}
		
		ul.ac_results li:hover{
background:#3baa34 !important;
color:#fff
		}
		
		ul.ac_results {
		width:280px;
		font-size:.85em;
		overflow:hidden;
			border-bottom-left-radius:5px;
			border-bottom-right-radius:5px;
			border: 1px solid #ccc;
			background: #FFF;
		}
		
		span.ac_match {
			text-decoration:none;
			font-weight:bold
		}
		
.user-listings .post div.entry-content p {
			font-size:.8em;
			color:#555;
			padding:0;
		}
		
	.tptn_thumb.tptn_featured {
			min-height:200px;
		}
		
		a.tptn_link {
			
		}
		
		
.search-bar {
	background:#3daa35;
	position:fixed;
	left: 0;
	right: 0;
	z-index:1;
	padding:15px 10px 0; 
	font-size:1.2em;
	border-top:1px solid #3daa35;
	border-bottom:1px solid #3daa35;
	margin-bottom:20px;
	border-color: #2d8727;
}

a.btn.btn-default.btn-block.btn-close-search {
	background:none;
	padding:0;
	border:none;
	line-height:1em;
	height:20px;
	color:#999;
	letter-spacing:5px;
}

a.title {
	color:#222;
	font-weight:300 !important;
	margin:0px 20px;
	text-align:left;
}



.pager.next { display: none; }

a.title:hover {
	color:#3baa34}

				.remove-parent {
					border:1px solid #ccc;
					border-radius:5px;
					width:100px;
					letter-spacing:1px;
					text-transform:uppercase;
					font-size:.7em !important;
					text-align:center;
					color:#222;
					font-weight:bold;
					display:block;
					margin-bottom:10px;
					margin-top:10px;
					padding:5px;
					
				}
				
				div.authorInfo a h2.authorName {
						color:#fff
					}
			
			.post.type-post						div.entry-content {
				padding:10px  20px;
					
				}
				
				.hc-name {
				font-size:.9em;
					display:block !important;
					max-width:50%;
					margin-top:8px;
				}
				
				img.avatar.avatar-55.wp-user-avatar.wp-user-avatar-55.alignnone.photo {
					width:50px
				}
				
				a.fep-button {
					background:#eee !important;
					border:1px solid #ccc !important
				}
				
				a.fep-button-active {
					background:#fff;
										border:1px solid lime !important
					
				}
				
				img.fep-ajax-img {
					width:20px
				}
				
					#fep-content form input, #fep-message-top {
					padding:10px !important
				}
				
				a.fep-button:hover {
				color:#fff !important;
				font-size:.9em !important;
background:#ccc !important
				}
				
				#fep-result ul li a {
					background:#eee;
				}
				
				
				#fep-result ul li  {
					border-top:1px solid #ccc;
				}
				#fep-result   {
				z-index:999;
					border:1px solid #ccc ; 
				}
				
				
#bg_image_preview { height: 300px; background-size: cover; }
#your-profile .ub-background th { text-align: inherit !important; }

.home-in-options {
	padding:60px 20px
}




.your-list div.entry-content {
	display:none
}

#your-profile textarea#description {
	padding:10px !important;
	width:90%;
}

#wpua-thumbnail-existing img {
	width:70px
}

#wpua-preview-existing img {
	width:70px !important;
}

#wpua-preview-existing {
	display:none !important
}

#your-profile p.submit input.wpuf-submit {
	width:100%;
	margin-bottom:20px;
	margin-top:20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding:20px !important;
	background:orange;
}


#your-profile p.submit input.wpuf-submit:hover {
background:#222
}

#your-profile  span.description {
	color:#999;
	font-size:.85em;
}

#wpua-undo-existing {
	display:none;
}




div#user-submitted-posts { width: 100%; font-size: 11px; }
div#user-submitted-posts fieldset { margin: 10px 0; padding: 0; border: 0; }

div#user-submitted-posts fieldset label           { float: left; clear: both; width: 70%; margin: 0; padding: 0; line-height: 18px; }
div#user-submitted-posts fieldset input.usp-input { float: left; clear: both; width: 70%; margin: 0; padding: 5px; font-size: 12px; }
div#user-submitted-posts textarea.usp-textarea    { float: left; clear: both; width: 80%; margin: 0; padding: 5px; font-size: 12px; }
div#user-submitted-posts select                   { float: left; clear: both; width: auto; margin: 0; padding: 5px; font-size: 12px; }

div#user-submitted-image { float: left; clear: both; width: 70%; }
div#usp-upload-message   { float: left; clear: both; width: 70%; }
a#usp_add-another        { float: left; clear: both; }

div#user-submitted-posts fieldset input.usp-input.usp-clone { width: 90%; margin: 0 0 5px 0; padding: 4px; background-color: #fafafa; }
div#usp-submit { margin: 15px 0; }

/* JS > Parsley */
.parsley-errors-list {
	list-style-type: none; float: left; clear: both; margin: 0; padding: 0; font-size: 11px;
	line-height: 18px; color: #fff; background-color: #cc3333;
	-webkit-transition: all 0.5s ease-in; -moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in; transition: all 0.5s ease-in;
	opacity: 0; -moz-opacity: 0; -webkit-opacity: 0;
	}
.parsley-errors-list.filled { opacity: 1; }
.parsley-required { margin: 0; padding: 2px 3px; }
.usp-files-error { margin-top: -5px; }
.usp-hidden, .usp-no-js { display: none; }
.usp-js { display: block; }

.usp-error {
	color: #a94442;
	background-color: #f2dede;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #ebccd1;
	border-radius: 4px;
	font-size: 14px;
}

#usp-success-message {
	color: #3c763d;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
	font-size: 14px;
}

.home-hype  h2 {
font-size:2em	;
margin-top:50px;
}

.fav-thumb { position: relative; }
.fav-thumb img { width: 100%; height: auto; }
.col-md-4 .fav-thumb {
	position: relative;
	display: block;
	height: 180px;
	overflow: hidden;
	background-image: url(/wp-content/themes/v19/images/ub-thumb.jpg);
	background-size: cover;
	background-position:center
}

.playVideoBnt {
	position: absolute;
	bottom: 0;
	right: 10px;
	font-size: 3em;
	line-height: 0.5em;
	cursor: pointer;
}

.single .fav-thumb iframe { min-height: 480px; }

.post.going .fav-thumb::after {
	content: "Happening Now";
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	background: rgba(163,39,36,0.5);
	color: #FFF;
}
.post.past .fav-thumb::after {
	content: "Past";
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
}

.fv-list .row { padding: 5px 0; }
.section-advanced { margin-bottom: 5px; }
#btnAdvanced { font-weight: bold; 
padding:10px 0;
margin:10px 0;
font-size: 1.2EM;
clear:both;
display:block
}


#usp-map { height: 300px; }
.pac-container {
    background-color: #FFF;
	z-index:2000 !important;
    position: fixed;
    display: inline-block;
    float: left;
}
#wpadminbar { display: none; }
#activity-location { height: 400px;
margin-top:-10px;
margin-bottom:-10px;

 }
.user-stats a:hover { text-shadow: 0 0 0.2em #FFF; }

footer ul a{
	text-decoration:none;
	color:#297824;
}


#cookie-law {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index:9999999;
	text-align: center;
	padding: 5px;
	background: rgba(0,0,0,.9);
	color: #fff;
	letter-spacing: normal;
}


button#btnCookieOK.btn.btn-default.btn-xs, #cookie-law a.btn  {
	background:none !important;
	color:#fff;
}


.panel p {
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-word;
}


/* Smartphone */
@media screen and (max-width: 600px) {
	.top-menu, .search-bar { position: absolute; }
	#panel-similar .panel-body, #recently-viewed .panel-body { padding: 0; }
	.panel .col-md-4 { padding: 0; }
	.home-hero .txt { top: 22%; }
}



#panel-author .photo {
	border-radius:100%;
	max-width:100px;
	border:3px solid #fff;
	box-shadow:0 1px 1px rgba(0,0,0,.4)
}

p.since {
	color:#888;
	font-size:.75em;
	margin-bottom:5px
}
#panel-author a strong {
	color:#222
}


.post-share .well {
margin:10px 0 0	;
padding:0;
background: #fff;
		border:none;
		box-shadow:none;
}

p.share-it {
	color:#222;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:.8em;
}
	

	
	#activity-location {
		height:200px;
		overflow:hidden;
	}
	
.panel-heading {
		text-transform:uppercase;
		letter-spacing:2px;
		font-size:.7em;
		background:#f8f8f8 !important;
		border-bottom:1px solid #eee !important	}
	
	
.post-share .well	a.btn.btn-default {
color:#fff;
margin:10px 0;
}

.btn-twitter {
	margin-left:20px !important;
}

a.btn.btn-default.btn-twitter {
	background:#00aced;
	border:1px solid #00aced
}
a.btn.btn-default.btn-fb {
	background:#3b5998;
		border:1px solid #3b5998
	
}
a.btn.btn-default.btn-linkedin {
	background:#007bb5;
		border:1px solid #007bb5
	
}
a.btn.btn-default.btn-pinterest {
	background:#cb2027;
		border:1px solid #cb2027
	
}

.post.type-post.status-publish.format-standard.hentry h1{
	text-align:left;
}



h2.authorName {
	color:#fff
}



.author ul li {
	list-style:none;
}
.author ul  {
	margin:0;
}

.leader-menu.center h1{
	text-transform:capitalize
}


#wpsa-subcriber-mail {
	display:none;
}

#content div.user-header header.archive-header div.center div.wpsa-button-wrap div.wpsa-footer button.btn.btn-default.wpsa-subscribe-btn {
	display:none
}



 .search-results div.post-top {
	font-size:.9em 
}

.search-results .post-time {
	display: none;
}


.search-results .fav-thumb img{
width:100% ;
min-height:200px ;
text-align:center;
}

.search-no-results span.screen-reader-text {
	display:none
}

.search-no-results input.search-field {
	padding:10px !important;
}

.search-no-results #primary {
	text-align:center
}

.sponsors img{
	margin-bottom:10px
}

div.indicates-required {
	display:none
}

#mc_embed_signup_scroll {
	width:80%;
	margin:auto;
	padding:30px;
	background:#eee;
	border: 1px solid #ccc;
}

#mc_embed_signup_scroll input {
	padding:10px !important; 
}

#mc-embedded-subscribe {
width:150px !important;
	padding:20px 50px !important;
	background:red !important;
	line-height:3px !important;
}

#post-623 div.entry-content h3 {
	text-align:center
}

span.asterisk {
	display:none
}

div.user-stats.row.center {
	max-width: 400px;
	margin:auto
}

.status-author  {
text-align:center;
font-size:.8em;
}

.status-author a  {
	color:#222;
}

.status-author img {
	border: 2px solid #fff;
	box-shadow:0 0px 3px rgba(0,0,0,.4);
		text-align:center;
		border-radius:100%;
		width:40px !important;
		height:40px !important
}

.single-status .post-share {
	text-align:center;
}

.col-md-4 .ub-share {
	margin-left:20px;
}

div.home-top-listings {
	margin-bottom:20px;
margin-top:20px;}

.home-top-listings .post-time {
display:none;
}

.home-top-listings h3  {
	font-size:.9em
}

button#btnReport.btn.btn-default.btn-report {
	background:none;
	color:#fff;
	border:none
}

button#btnSubmitReport.btn.btn-primary {
	background:none;
	color:#222
}

.authordata-description {
	max-width:400px;
	margin: auto;
	max-height:96px;
	overflow-y:scroll;
	letter-spacing:1px;
	padding:10px 3px;
	margin-bottom:5px;
	border:1px solid rgba(0,0,0,.2);
	background:rgba(0,0,0,.4);
}

#content div.user-header header.archive-header {
	
}

div.shortlink {
	padding:20px
}

input.shortlink-input {
		padding:10px !important;
	width:200px;
}

a.btn.btn-default.btn-email {
	background:#222;border:1px solid #222
}

.yarpp-related { margin: 0 !important; }

img.attachment-yarpp-thumbnail.size-yarpp-thumbnail.wp-post-image {
	width:100%;
	text-align:center;
	margin:0 0 10px 0
}

.cat-side {
	margin-top:10px;
	margin-bottom:10px
}

.published-on {
	font-size:.8em;
	color:#888;
	
}

span.verified {
	background:red;
	color:#fff;
	font-size:.9em;
			border: 1px solid #b50505 !important;
	text-shadow:0 1px 1px rgba(0,0,0,.3);
	padding:3px 7px;
}span.enhanced {
	background: #00ff39;
	color:#fff;
	font-size:.9em;
			border: 1px solid #17db3e !important;
	text-shadow:0 1px 1px rgba(0,0,0,.3);
	padding:3px 7px;
}

div.upgrade {
	padding:20px 30px;
	margin-bottom:30px;
				border: 1px solid #ccc !important;
	
}

#activities-map { height: 500px;margin-bottom:50px }
#activities-map-buttons { margin-bottom: 5px; text-align: center; 
display:none;
}

.search-results h3.entry-header {
	font-size:1em
}

div.yarpp-related h3.entry-header a.title{
	font-size:.7em !important;
	height:3em;
	margin-top:10px;
}

img.get-android {
	width:130px;
	margin:20px auto;
	text-align:center
}

h2.authorName a {
	color:#fff
}
#user_views { height: 300px; }

/* START TABLE SORTER */
th.sort-header::-moz-selection { background:transparent; }
th.sort-header::selection      { background:transparent; }
th.sort-header {
  cursor:pointer;
  }
th.sort-header::-moz-selection,
th.sort-header::selection {
  background:transparent;
  }
table th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#404040 transparent;
  visibility:hidden;
  }
table th.sort-header:hover:after {
  visibility:visible;
  }
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility:visible;
  opacity:0.4;
  }
table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
  }
/* END TABLE SORTER */

.city-list { text-align: center; font-size: 1.5em; }

.yarpp-related .tag-links {
	padding:0 15px !important;
}

#smartbanner {
	position: fixed !important;
}

a.btn.btn-default.active {
border:1px solid lime;
	box-shadow:none;background:none
}

#panel-location div.panel-body {
	padding:10px 0 0px 0;
}

#activity-address {
	clear:both;
	padding:20px 10px 10px
}

#activity-address a{
color:#222
}

.author-preview {
	padding:40px;
	
}

img.attachment-full.size-full.wp-post-image {
	min-height:200px
}





.schedule {
overflow-y: scroll;
background:#eee;
	border: 1px solid #ccc;
	margin-bottom:50px

}

.schedule-date {
font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px
}

.schedule-cat{
	font-weight:bold;
	padding:5px;
}



.schedule-in {
	width:2900px
}

.schedule-date ul li {
	float:left;
	list-style:none;
	width:140px
}

.schedule-item  li {
	float:left;
	display:block;
}


li.schedule-length-1 {
	width:200px;
}

li.schedule-length-2 {
	width:200px;
}
li.schedule-length-3 {
	width:300px;
}
li.schedule-length-4 {
	width:400px;
}

li.schedule-length-5 {
	width:500px;
}

li.schedule-length-6 {
	width:600px;
}

div.schedule-item li {
	list-style:none;
	padding:3px
}

.tax-city h3 {
	font-size:1em
}

.row.city-list span {
	color:#777;
	font-size:.7em;
}

.tag h3 {
		font-size:1em
}

a.btn.btn-default.btn-top-reg {
	background: #006dff;
	color:#fff;
	border: 1px solid #005ddc
}

a.btn.btn-default.btn-top-reg:hover {
	background:#222 !important;
	color:#fff;
	border: 1px solid #111
}

.hot-home img {
	width:30px;
	height:auto;
	opacity:.2;
	margin-bottom:10px
}

.lazy-loading { text-align: center; }

.interview-body {
	padding-left: 20px;
	padding-right: 20px;
}

#activity-transport {
	padding:10px 20px 20px
}

span.transport-distance {
	color:#777;
	font-size:.8em
}

.attending-members { margin: 15px 0; }
.attending-members .member { display: inline; }

span.activity-views {
	float:right;
	padding:5px 9px;
	font-size:1.2em;
}

.attendee-listing img.avatar {
	width:44px;
	border:2px solid #fff;
	background:#fff;
	border-radius:100%;
	box-shadow:0 1px 1px rgba(0,0,0,.2)
}

img.attendee-tb {
margin-top:-45%;
}

div.attendee-thumb {
	max-height:200px;
	overflow:hidden;
	margin-bottom:10px;
border:4px solid #fff;	
	box-shadow:0 1px 1px rgba(0,0,0,.2)

}

.attendee-count {
	background:red;
	width:50px;
	text-align:center;
	color:#fff;
	height:50px;
	line-height:48px;
	margin-bottom:-35px;
	margin-left:-15px;
	position:relative;
	border-radius:100%;
	text-shadow:0 1px 1px rgba(0,0,0,.2);
	font-weight:bold;
	border: 2px solid #fff;
		box-shadow:0 3px 3px rgba(0,0,0,.2)
	
}

div.attendee-listing {
	padding:20px 30px;
	background:#eee;
	border:1px solid #ccc;
	margin-bottom:30px;
}

div.attendee-details a{
	color:#222;
	font-weight:bold
}

 div.member a.avatar  img  {
	width:64px;
	height:64px;
	border:2px solid #fff;
	background:#fff;
	border-radius:100%;
	box-shadow:0 1px 1px rgba(0,0,0,.2)
	
}

img.attendee-avatar.new-attendee {
	background:yellow;
	padding:2px;
}
#avatar_image_preview { max-width: 100%; width: auto; }
.col-md-4 .wp-post-image { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; }

.col-md-4 address {
	padding: 0 10px;
	height: 2.5em;
	overflow: hidden;
	color:#999;
	line-height:1.2em;
	font-size:.9em;
	margin:0 10px 10px;
}
#shareModal a.btn { margin-right: 3px; color: #FFF; }

img.iphone-dl {
	width:160px;
	height:auto;
}

.infinite-scroll .pagination, .infinite-scroll .pager { display:none; }
.home-top-listings .pagination { display: none; }
.jscroll-loading { text-align: center; }

#orderby select { width: auto;
font-size:.8em;
margin:4px;
 }

 div[class*=wpuf_custom_html_] { float: inherit !important; width: inherit !important; }

.panel{
border:1px solid #eee !important;
border-radius:4px;
box-shadow:0 1px 1px rgba(0,0,0,0.05)
}




.hot-txt {
margin-top:-1px;
margin-bottom:2px;
	line-height:1;
	display: none;
	
}

.foot-menu {
	margin-bottom:30px;
	text-align: center;
}

.foot-menu .btn {
	border: none;
	color:#297824 ;
	font-weight:300;
	letter-spacing:1px
}

.site-footer .btn-soc-foot {
	width:48px;
	margin:0 10px ;
	line-height:34px;
	height:48px;
	border-radius:4px;
}

#panel-location .online-only { display: inline-block; margin: 5px 15px 15px; }
.col-md-4 .post-date-start { margin: 0 20px; }

/* START SEARCH FORM */
#ub-search {
	display: inline-block;
	background: #FFF;
	border: 1px solid #3daa35;
	border-radius: 2px;
}

#ub-search button.btn.btn-default {
	font-size:1.1em;
}

#orderby {
background:#fff;
	text-align:right;
border:1px solid #eee
}

#orderby div.input-group div.input-group-addon {
	border:none;
	font-size:.7em;
	background:#fff;
	text-transform: uppercase;
	letter-spacing:2px;
}

#ub-search input {
	border: none;
	width: 150px;
}



#ub-search label {
	cursor: pointer;
	padding: 5px 10px;
	margin: 0;
}
#ub-search label.near {
	border-left: 1px solid #CCC;
}
#ub-search .btn {
	background-color: #3daa35;
	padding: 6px 10px;
	color:#fff;
	border: none;
	border: 1px solid #CCC;
	vertical-align: baseline;
	
}
/* END SEARCH FORM */

header.entry-header {
		margin-top: 20px;;
	
}

#panel-transit td { vertical-align: middle; }
#panel-transit .fa { padding-right: 10px; }
#panel-transit .dist { font-size: 0.7em; color: #AAA; }
#panel-transit .panel-body { overflow: hidden; }

.panel-body video { height:100%; width:100%; }

/*******************************************************
Slider B-flat https://jsfiddle.net/yeyene/42p6s7ps/
*******************************************************/
.checkbox-slider--b-flat {
  position: relative;
}
.checkbox-slider--b-flat input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0%;
  margin: 0 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox-slider--b-flat input + span {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-slider--b-flat input + span:before {
  position: absolute;
  left: 0px;
  display: inline-block;
}
.checkbox-slider--b-flat input + span > h4 {
  display: inline;
}
.checkbox-slider--b-flat input + span {
  padding-left: 40px;
}
.checkbox-slider--b-flat input + span:before {
  content: "";
  height: 20px;
  width: 40px;
  background: rgba(100, 100, 100, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
  transition: background 0.2s ease-out;
}
.checkbox-slider--b-flat input + span:after {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0;
  display: block;
  background: #ffffff;
  transition: margin-left 0.1s ease-in-out;
  text-align: center;
  font-weight: bold;
  content: "";
}
.checkbox-slider--b-flat input:checked + span:after {
  margin-left: 20px;
  content: "";
}
.checkbox-slider--b-flat input:checked + span:before {
  transition: background 0.2s ease-in;
}
.checkbox-slider--b-flat input + span {
  padding-left: 40px;
}
.checkbox-slider--b-flat input + span:before {
  border-radius: 20px;
  width: 40px;
}
.checkbox-slider--b-flat input + span:after {
  background: #ffffff;
  content: "";
  width: 20px;
  border: solid transparent 2px;
  background-clip: padding-box;
  border-radius: 20px;
}
.checkbox-slider--b-flat input:not(:checked) + span:after {
  -webkit-animation: popOut ease-in 0.3s normal;
          animation: popOut ease-in 0.3s normal;
}
.checkbox-slider--b-flat input:checked + span:after {
  content: "";
  margin-left: 20px;
  border: solid transparent 2px;
  background-clip: padding-box;
  -webkit-animation: popIn ease-in 0.3s normal;
          animation: popIn ease-in 0.3s normal;
}
.checkbox-slider--b-flat input:checked + span:before {
  background: #5cb85c;
}
.checkbox-slider--b-flat.checkbox-slider-md input + span:before {
  border-radius: 30px;
}
.checkbox-slider--b-flat.checkbox-slider-md input + span:after {
  border-radius: 30px;
}
.checkbox-slider--b-flat.checkbox-slider-lg input + span:before {
  border-radius: 40px;
}
.checkbox-slider--b-flat.checkbox-slider-lg input + span:after {
  border-radius: 40px;
}
.checkbox-slider--b-flat input + span:before {
  box-shadow: none;
}

/*#####*/
.checkbox-slider-info.checkbox-slider--b input:checked + span:before,
.checkbox-slider-info.checkbox-slider--b-flat input:checked + span:before,
.checkbox-slider-info.checkbox-slider--c input:checked + span:before,
.checkbox-slider-info.checkbox-slider--c-weight input:checked + span:before {
  background: #5bc0de;
}

.checkbox-slider-warning.checkbox-slider--b input:checked + span:before,
.checkbox-slider-warning.checkbox-slider--b-flat input:checked + span:before,
.checkbox-slider-warning.checkbox-slider--c input:checked + span:before,
.checkbox-slider-warning.checkbox-slider--c-weight input:checked + span:before {
  background: #f0ad4e;
}

.checkbox-slider-danger.checkbox-slider--b input:checked + span:before,
.checkbox-slider-danger.checkbox-slider--b-flat input:checked + span:before,
.checkbox-slider-danger.checkbox-slider--c input:checked + span:before,
.checkbox-slider-danger.checkbox-slider--c-weight input:checked + span:before {
  background: #d9534f;
}
/*******************************************************
END Slider B-flat
*******************************************************/

.messages td { vertical-align: middle !important; width: 30px; }
.messages .new td { background: #eff5fb; }
.messages .user { font-weight: bold; white-space: nowrap; max-width: 150px; overflow: hidden; }
.messages .date { color: #999; font-style: italic; font-size: smaller; text-align: right; white-space: nowrap; }
.messages .msg { width: auto;}
.messages td.min { white-space: nowrap; width: 1%; }
.messages img { max-width: 100px; max-height: 100px; width: auto; }
#delete-msg-btn { display: none; }
#ub-messages .msg { color: #999; }
#ub-messages .info { position: relative; }
#ub-messages .link { position: absolute; left:0; right:0; top:0; bottom:0; }
#prev-messages { margin-bottom: 10px; }
#ub-msg-form .alert { margin-bottom: 0; }

.clear{
	clear:both !important;
}

.top-avatar-txt {
	font-size:.8em;
}

.post-avatar-top {
	position: relative;
	float:left;
}

.post-top-title {
	float:left !important;
	padding-top:6px;
	font-size:.9em;
	padding-left:10px
}

.post-avatar-top img{
width:32px !important;
height:32px !important;
margin:0 !important
}

.top-avatar-txt a {
	color:#222;
}

.playVideoBnt  {
	color:rgba(255,255,255,.9);
	background:rgba(0,0,0,.8);
	padding:2px 5px;
	border-radius:100%;
margin:15px 8px	
}

.playVideoBnt:hover  {
	color:rgba(255,255,255,1);
	background:rgba(255,0,0,1);
}

.ui-widget { font-size: 12px; }
button.ui-datepicker-trigger {
	padding: 5px;
	background-color: buttonface;
	font-size: 1em;
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: baseline;
}
button.ui-datepicker-trigger:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

/* make timepicker inline */
.ui-timepicker-div .ui_tpicker_time, .ui-timepicker-div dt { display: none; }
.ui-timepicker-div .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div dl { text-align: right; }
.ui-timepicker-div dl dd, .ui-timepicker-div dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div dl dd.ui_tpicker_minute:before { content:':'; display:inline-block; }
.ui-timepicker-div dl dt { float: left; clear: left; }

.col-md-4 .post-avatar { position: relative; }
.follow-btn-sm {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 16px;
	height: 16px;
	background: url(images/follow-icons.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	transition: initial !important;
}
.follow-btn-sm.active {
	background-position: 0 -16px;
}
.author-avatar { position: relative; display: inline-block; }
.author-avatar .follow-btn-sm { width: 32px; height: 32px; }
.author-avatar .follow-btn-sm.active { background-position: 0 -32px; }

.top-menu .msg-notif { display: none; }
.unread-msg .top-menu .avatar { display: none; }
.unread-msg .top-menu .msg-notif {display: inherit; color: #FF4500; }

.came-from-facebook .alert { margin-bottom: 0; margin-top: 5px; }

#msgAttachList .file {
	margin-top: 3px;
	padding: 3px 10px;
	background: #F5F5F5;
	max-width: 30em;
}
#msgAttachList .btnAttachUndo { float: right; color: #ff4500; }

.about-mission {
	background: #fff;
	color:#222;
		padding:50px 0;
			letter-spacing:1px;
		
		text-align:center
}

.about-mission  img {
	width:100%;
	margin:80px  auto -105px;
}

img.about-mission-img {
	width:200px;
	margin:-70px 10px 30px
}

.store-foot img {
	width:150px;
	height:auto;
	margin-bottom:10px
}

.about-works {
	background: #3daa35;
	text-align:center;
	color:#fff;
	letter-spacing:1px;
		padding:50px 30px 90px
}

.about-works img {
	margin-top:-70px;
	width:180px;
	height: auto;
	margin-bottom:20px;
	border:6px solid #fff;
	border-radius:100%;
}


.about-story {
	background: #222;
	color:#fff;
		padding:80px 50px;
		letter-spacing:1px;
	text-align:center;
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
}

.about-story img {
	width:320px;
	margin:30px 0;
	background:rgba(0,0,0,.1);
	padding:20px 30px;
	border-radius:10px;
	
border:1px solid rgba(0,0,0,.3);
box-shadow: 0 1px 0px  rgba(255,255,255,.1);
}

.about-story a {
	color:lime
}

.about-intro {
color:#fff;	
margin-top:-63px;
	min-height:260px;
	letter-spacing:1px;
background-position:0 center;
}

#post-13 h1 {
	margin-top:100px;
	background:rgba(44,120,211,.4);
	padding:20px;
	display:none
}

.about-intro p.lead {
	background:rgba(44,120,211,.6);
	padding:20px;
}

.about-values {
	background: #3daa35;
		letter-spacing:1px;
	
	color: #e8f6e7;
	padding:80px 30px;
	text-align:center;
	border-top:50px solid #3daa35;
	border-color: #6ece67;
	
	
}


.foot-app-store {
	margin-top: 50px;
	margin-bottom: 20px;
}

 {
	
}

#post-19973 .about-ub div.about-intro, #post-28 .about-ub div.about-intro {
	background-position:center -30px;
	min-height:500px;
}


@media screen and (max-width: 800px) {

.foot-menu .btn {
	border: none;
	display:block;
	background: #3daa35;
	margin:10px;
	padding:14px;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:bold;
	border-radius:4px;
	color:#fff ;
	font-weight:300;
	letter-spacing:1px;
}

 #post-19973  .about-ub div.about-intro,  #post-28 .about-ub div.about-intro {
	background-position:center 0px;
	min-height:240px;
}

}


#post-13 header.entry-header h1.entry-title {
	display:none;
}


.about-mission .btn.btn-default, .about-ub .btn.btn-default {
	background: orange;
	color:#fff;
	border:none;
	margin-top:20px;
	text-transform:uppercase;
	padding:15px 40px ;
}

#post-22 div.about-story  a.btn.btn-default {
	background: orange;
	color:#fff;
	border:none;
	margin-top:20px;
	text-transform:uppercase;
	padding:15px 40px ;
}

#post-22 div.about-story  a.btn.btn-default:hover {
background: #111;
color:#fff;
border:none;
}

.about-mission .btn.btn-default:hover, .about-ub .btn.btn-default:hover {
	background: #111;
	color:#fff;
	border:none;
}

#post-32  h1, #post-28  h1, #post-19973  h1  {
	display:none;
}

img.deon-football {
	margin:0 0 20px 0;
	width:270px;
}

.about-title {
	margin-bottom:30px;
	color: #eef4ec;
}

#post-32 .about-ub div.left div.about-works div.row div.col-md-6.col-md-offset-3 p.lead a {
	color:yellow;
	font-weight:300;
}

#post-32 .about-story ul {
margin: 0 !important;
padding:0;
}

#post-32 .about-story li {
	list-style: none;
	margin-bottom:10px;
}


#post-32 .about-story img {
	width:210px;
	margin:0px 0 40px;
	background:rgba(0,0,0,.1);
	padding:30px 60px;
	border-radius:10px;
	
border:1px solid rgba(0,0,0,.3);
box-shadow: 0 1px 0px  rgba(255,255,255,.1);
}

.how-providers.center {
	padding:80px 50px;
	letter-spacing:1px
}

img.how-mission-img {
	width:260px;
	margin:0px 10px 10px 30px
}


#post-22 h1 {
	display:none;
}

#post-22  img.img-hero {
	margin-top:-50px;
}

img.img-service-help {
	width:180px;
	margin:30px 0 0;
}


img.providers-characters-img {
	margin-bottom: -50px;
	margin-top:50px;
}

.chart-wrapper { position: relative; overflow: auto; overflow-y: hidden; }
#chart { height: 300px; min-width: 720px; background: url(images/ajax-loader.gif) no-repeat 50% 50%; }
#daterange {
	display: inline-block;
	background: #fff;
	cursor: pointer;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.landing .about-intro {
padding: 60px;
}
#post-21678 h1.entry-title, #post-21676 h1.entry-title, #post-21588 h1.entry-title,
#post-21585 h1.entry-title, #post-21583 h1.entry-title, #post-21678 h1.entry-title, #post-21580 h1.entry-title {
	display:none;
}

/* fix carousel image size on home page */
.blog .carousel-inner > .item > img { width:100%; }

/* start */
.btn-collapse-panel {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	color: #333;
}
.btn-collapse-panel:before { content: "\f139"; }
.panel-closed .btn-collapse-panel:before { content: "\f13a"; }
.panel-closed .panel-body { display: none; }
/* end */

/* start slick carousel theme */
#home-carousel img { width: 100%; height: auto; }
#home-carousel .slide { position: relative; }
.slick-arrow {
	position: absolute;
	font-size: 3em;
	top: 0;
	bottom: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0);
	filter: alpha(opacity=50);
	opacity: .5;

	font-size: 0;
	line-height: 0;
}
.slick-prev {
	left: 0;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
	background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
	background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;

}
.slick-prev:before {
	font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    content: "\f053";
}
.slick-next {
	right: 0;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
	background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
	background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;

}
.slick-next:before {
	font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    content: "\f054";
}
.slick-arrow:hover,
.slick-arrow:focus {
	background-color: inherit;
	filter: alpha(opacity=90);
	opacity: .9;
	outline: 0;
}

/* Dots */
.slick-dots
{
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:before
{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    color: #FFF;
    content: "\f1db";
    text-align: center;
}
.slick-dots li.slick-active button:before
{
    content: "\f111";
}
/* end slick carousel theme */

table.rrule-options td { padding-bottom: 10px; }
table.rrule-options td:first-of-type { font-weight: bold; }
.in-logo img { max-width: 150px; max-height: 150px; }
